/*Selector por clase*/
.test0 {
	color:blue;
}
.test1 {
    font-size: 18px;
    color: rgba(126, 163, 166, 0.5);
    border: thin solid black;
}



/*Selector por id*/

#test2 {
   display: block;
   color:red;
}

#test3 {
	color:red;
}


/*Selector por div*/

div {
	display: inline;
	color: green;
}

