.wrapper {
	width: 1080px;
	background-color: grey;
	margin: 10px auto;
	color: white;
	/*ponemos position: absolute para poder poner el div interno posicionamiento;*/
	position: relative;
}

.wrapper>div{
	width: 500px;
	height: 20px;
}

/* nth-child*/
.wrapper>:nth-child(1) {
	background-color: red;
}

.wrapper div:nth-child(3) {
	background-color: red;
		/*ponemos position: absolute para poder poner el div interno posicionamiento;*/
	position: absolute;
	left: 10px;
	top: 100px;
	z-index: 1000;/*orden de prioridad positivo*/
}

.wrapper>div:nth-child(2) {
	background-color: blue;
}

/* nth-of-type*/
.wrapper>div:nth-of-type(4) {
	background-color: green;
	/*ponemos position: absolute para poder poner el div interno posicionamiento;*/
	position: absolute;
	left: 25px;
	top: 90px;
	z-index: -100;/*orden de prioridad negativo*/
}

.wrapper h1:nth-last-of-type(1){
	background-color: pink;
}

/* only-of-type*/
/* only-child*/