.wrapper {
    width: 1080px;
    height: 900px;
    margin: 10px auto;
    /*ponemos position: absolute para poder poner el div interno posicionamiento;*/
    position: relative;
}

.wrapper>div {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: blue;
}

.img1 {
	width: 50px;
	height: auto; 
	position: absolute;
	top: -25px;
	left: -25px;
}

.img2 {
	width: 50px;
	height: auto; 
	position: absolute;
	top: -25px;
	left: 175px;
}

.uno {
	position: absolute;
	left: 30px;
	top: 45px;
}

.dos {
	position: absolute;
	left: 350px;
	top: 200px;
}