@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

#menu div.barraMenu,
#menu div.barraMenu a.botonMenu {
    font-family: sans-serif, Verdana, Arial;
    font-size: 8pt;
    color: white;
    margin: 20px;
}

#menu {
    position: relative;
    width: 900px;
    height: 600px;
    margin: 10px auto;
    border: 10px solid #556975;
}

#menu div.barraMenu {

    text-align: left;
    width: 600px;
    margin: 30px auto;
    border-bottom: 10px solid #556975;
}

#menu div.barraMenu a.botonMenu {
    background-color: #556975;
    color: white;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
    position: relative;
    top: -10px;
    transition:all .5s ease-in-out;

}

#menu div.barraMenu a.botonMenu:hover {
    background-color: #556975;
    top: 0px;
    margin-bottom: 0px;
}

 /*Estilos del modal*/

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left:30px;
    top:120px;
    width:200px;
    transition:all 2s linear 1s;
}

.modal img{
    width:600px;
}

.modal:target {
  left:30%;
  opacity:1;
  visibility: visible;
}

