html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #0000ff;
    margin: 0;
    font-family: monospace;
}


.wrapper {
    width: 1000px;
    margin: 10px auto;
    background-color: #0000ff;
    font-size: 40px;
    color: white;
    text-align: center;
}

.container {
    width: 900px;
    margin: 10px auto;
}

.container .img {
    width: 100%;
    position: relative;
}

.container .venus a {
    display: block;
    position: relative;
    background: transparent;
    top: -200px;
    left: 175px;
    list-style: none;
    width: 50px;
    height: 50px;
    z-index: 1000px;
    text-decoration: none;
}

.container .venus a:hover {
    border: thin solid white;
}

.container .mercurio a {
    display: block;
    position: relative;
    background: transparent;
    top: -230px;
    left: 140px;
    list-style: none;
    width: 25px;
    height: 25px;
    z-index: 1000px;
    text-decoration: none;
}

.container .mercurio a:hover {
    border: thin solid white;
}

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: transparent;
    top: 200px;
    left: 600px;
    width: 250px;
    height: 200px;
    border: 5px solid white;
    color: white;
}

.modal h3 {
    color: #fff;
    font-size: 25px;
    text-align: center;
    margin: 15px 0;
}

.modal p {
    color: #fff;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
}

.modal .cerrarImagen {
    width: 40px;
    margin: 10px auto;
}


