html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #ffffff;
    margin: 0;
    font-family: monospace;
}

.container {
    width: 1000px;
    border-top: 5px solid #808080;
    margin: 0px auto;
    position: relative;
}

.body {
    background-color: #808080;
    width: 900px;
    height: 500px;
    margin: 50px auto;
    position: relative;
}

.left {
    float: left;
    background-color: #d9d9d9;
    width: 100px;
    height: 400px;
    border: 5px solid #808080;
    position: relative;
}

.left img {
    width: 140px;
    position: relative;
    top: -20px;
    left: -20px;
}

.left ul {
    margin-top: 10px;
}

.left li {
    padding: 5px;
    margin-right: 10px;
    font-size: 10px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #00ff00;
    text-align: center;
    color: white;
}

.left li a {
    text-decoration: none;
    color: white;
}

.titulo {
    float: left;
    background-color: #d9d9d9;
    width: 600px;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    position: relative;
    top: -50px;
}

.right {
    float: left;
    background-color: #d9d9d9;
    width: 765px;
    height: 415px;
    padding: 10px;
    font-size: 10px;
    text-align: left;
    color: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: relative;
    top: -45px;
}