h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.container {
    width: 1080px;
    margin: 20px auto;
    height: auto;
}

ul {
    list-style-type: upper-latin;
    padding: 50px;
}

span {
    font-weight: bold;
}

.alineado {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 20px;
}

.imagen {
    width: 800px;
    margin: 20px auto;
    font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    font-size: 28px;
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.atras {
    width: 30px;
    height: auto;
}