.wrapper{
	width:500px;
	margin:10px auto;
	height: 400px;
	background-color: #ccc;
	position: relative;
}

.wrapper>div:nth-of-type(1){
	width:200px;
	height:100px;
	background-color: red;
	position: absolute;
	top:50px;
	left:10px;
}

.wrapper>div:nth-of-type(2){
	width:200px;
	height:200px;
	background-color: green;
	position: absolute;
	top:120px;
	left:230px;
}

.wrapper>:nth-child(1)>img{
	width:20px;
	position: absolute;
	top:-10px;
	left:-10px;	
	z-index:10;
}

.wrapper>:nth-child(2)>img{
	width:20px;
	position: absolute;
	top:-10px;
	right:-10px;
	z-index:10;
}