body>div>div{
	width:500px;
	height:200px;
	background-color: #ccc;
	border:1px solid black;
	padding:10px;
	box-sizing: border-box;
}

body>div:nth-child(1)>div + div {
	position:relative;
	left:10px;
}

body>div:nth-of-type(1)>div~img{
	width:100px;
	position:relative;
	top:30px;
}

.menu{
	position:fixed;
	left:0px;
	top:0px;
	width:900px;
	background-color: #aaa;
}

.menu a+img{
	width:20px;
	display:none;
}

.menu li{
	height:30px;
	text-align: center;
	cursor:pointer;
}

/*.menu a:hover + img{
	display:inline-block;
}*/

.menu li:hover>img{
	display:inline-block;
}

body>div:nth-child(1){
	margin-top:80px;
}
