.wrapper{
	width:1000px;
	margin:10px auto;
}
.fila1,
.fila3{
	min-height:100px;
}
.caja21,.caja22{
	height:390px;
	float:left;
}

.caja21{
	width: 300px;
	background-color: gray;
}

.caja22{
	width:650px;
	background-color: blue;
	padding-left:50px;
}

/* menu vertical */
.caja21 .menu{
	width:100px;
	margin:10px auto;
	list-style-type: none;
}

.caja21 .menu a{
	display:block;
	text-align: center;
	height:50px;
	line-height: 50px;
	border: 1px solid black;
	text-decoration: none;color:black;
}

.caja21 .menu a:hover{
	background-color: red;
	color:white;
}

/*
fin del menu vertical 
*/
.caja22 h1{
	border-top:2px solid black;
	background-color: #ccc;
	width:500px;
}

/* menu horizontal */
.caja22 ul{
	margin-top:10px;
	list-style-type: none;
	background-color: #ccc;
	width:500px;
}

.caja22 ul,
.caja22 ul a{
	height:50px;
}

.caja22 ul a{
	display:block;
	text-align: center;
	line-height: 50px;
	border-top: 3px solid black;
	text-decoration: none;
	color:black;
	width:80px;
}

.caja22 ul a:hover{
	background-color: red;
	color:white;
}

.caja22 ul li{
	float:left;
}

/*
fin del menu horizontal 
*/


