.container {
    width: 1080px;
    margin: 10px auto;
}

.web {
    background-color: white;
    width: 1000px;
    height: auto;
    margin: 40px auto;
}

.web .nav {
    width: 900px;
    height: auto;
    background-color: #a6a6a6;
    color: white;
    font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 25px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;

}

.web .body {
    width: 900px;
    height: 600px;
    background-color: white;
    color: white;
    font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    border-radius: 10px;
    margin: 10px auto;
}

.web .body .left {
    float: left;
    width: 250px;
    height: 350px;
    background-color: #a6a6a6;
    color: white;
    font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    border-radius: 5px;
    margin: 0px 40px 0px 0px;

}

.web .body .left ul {
    margin-top: 40px;
    }

.web .body .left li {
    margin: 10px auto;
    width: 80%;
    height: 30px;
    color: black;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: center;
    padding-top: 12px;

}
.web .body .right {
    float: left;
    width: 610px;
    height: 600px;
    background-color: #a6a6a6;
    color: white;
    font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    border-radius: 5px;
    margin: 0px auto;
    position: relative;
    z-index: 10;

}

.web .body .right .note {
    position: absolute;
    width: 200px;
    height: 150px;
    left: 30px;
    top: 40px;
    background-color: #e6e6e6;
    background: white;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
}

.img {
    width: 50px;
    height: auto; 
    position: absolute;
    top: -5px;
    left: -5px;
}

.web .footer {
    width: 900px;
    height: auto;
    background-color: #a6a6a6;
    color: white;
    font-family: Palatino, 'Palatino Linotype',  'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: right;

}

.web .footer p {
    padding: 0 10px;
}

