body {
    font-family: 'Berkshire Swash', cursive;
}

.container {
    width: 900px;
    margin: 20px auto;
}

.titulo {
    width: 350px;
    margin: 20px auto;
}


/* le indicamos que vamos a meter filas*/

.tabla {
    display: table;
    margin: 10px auto;
    /*border-spacing solo en tabla para que sea homogéneo*/
    border-spacing: 5px 20px;
    border: thin solid red;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    background-color: white;
    position: relative;
    /*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila {
    display: table-row;
    /*border: thin solid #0000e6; no se puede directamente*/
}

.celda {
    border: thin solid grey;
    display: table-cell;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    color: #0000e6;
}

.celda1 {
    border: thin solid grey;
    color: grey;
    display: table-cell;
    width: 50px;
    height: 50px;
    background-color: #eeeeee;
    vertical-align: middle;
}

.icono {
	position: relative;
	top: 5px;
	left: 0px;
	width: 30px;
	z-index: 1000;
}

.numero {
	position: relative;
	top: -14px;
	left: 10px;
	width: 30px;
	z-index: 1000;
	color: #0000e6;
}

.rojo {

    color: red;
}

.verde {

    color: green;
}

h2 {
    font-size: 30px;
    color: #0000e6;
}

span {
    font-size: 40px;
    color: grey;
}