body,
html {
    background-color: #e6f2ff;
}

.container {
    width: 930px;
    height: 800px;
    background-color: white;
    margin: 0px auto;
}
.nav {
    width: 900px;
    height: 100px;
    margin: 10px auto;
    padding-top: 20px;
}

.nav .membrete {
    width: 200px;
    height: auto;
    float: left;
    }

.nav .membrete h1 {
    font-weight: bold;
    font-size: 30px;
}

.nav .membrete h6 {
    font-size: 8px;
    font-style: italic;
}
.nav .redes {
    float: right;
}
.nav .redes li {
    font-size: 12px;
    float: left;

}
.nav .redes img {
    width: 30px;
    margin: 0 10px;
    padding: 5px 0;
        display:inline-block;
    vertical-align:middle;
    line-height:normal;
}

.menu {
    clear: right;
    width: 900px;
    height: 25px;
    margin: 10px auto;
    padding-top: 15px;
    background-color: #80b3ff;
    border-radius: 10px;

}
.menu .botones {
    width: 750px;
    margin: 0px auto;
}
.menu .botones li {
    padding-left: 30px;
    padding-right: 20px;
    float: left;
    text-align: center;
}

.foto {
    height: 250px;
    padding-left: 15px;
    position: relative;
}

.foto .box {
    width: 350px;
    padding: 10px;
    height: auto;
    position: relative;
    top: -225px;
    left: 500px;
    opacity: 0.5;
    border-radius: 10px;
    background-color: white;
}

.foto .box h3{
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.foto .box p{
    font-size: 15px;
    padding: 10px;
    line-height: 20px;
}

input[type="button"] {
    width: 100px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 12px;
    display: block;
}

.left, .right {
    width: 440px;
    float: left;
    padding-left: 15px;
}

.bloque {
    margin-top: 20px;
}

a {
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.left .bloque h3{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.left .bloque p{
    font-size: 12px;
    line-height: 18px;
}

.right .bloque h3{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.right .bloque p{
    font-size: 12px;
    line-height: 18px;
}

img .img2 {
    width: 445px;
}

img .img {
    width: 900px;
}

.footer {
    width: 930px;
    height: 100px;
    margin: 10px auto 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 8px;
    background-color: white;
}
