    .caja {
        margin: 20px;
    }

    .menu li a.activo {
        background-color: yellow;
    }
    .menu li {

        font-size: 15px;
        list-style: none;
        /*float: left; para ponerlo en horizontal*/
        margin: 0px auto;
        /*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/
        width: 200px;
        color: white;
        background-color: grey;
    }



    a {

        padding: 10px;
        display: block;
        /*Con este conseguimos que sea de ancho como el padre*/
        text-decoration: none;
        text-align: center;
        height: 30px;
        /*Truco para alineación vertical para lineas*/
        line-height: 30px;
        background-color: grey;
        color: white;
    }

    a:hover {

        background-color: black;
    }
