.menu {
    width: 900px;
    height: 50px;
    margin: 20px auto;
    background: grey;
}


li a.activo {
    background-color: yellow;
}

li {

    font-size: 15px;
    list-style: none;
    float: left;
    margin: 10px auto;
    /*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/
    width: 100px;
    color: white;
    background-color: grey;
}

li.right{
    float: right;
}

a {

    padding: 10px;
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*Truco para alineación vertical para lineas*/
    line-height: 30px;
    background-color: grey;
    color: white;
}

a:hover {

    background-color: black;
}