.container {
    margin: 0px auto;
    width: 800px;
    height: auto;
    background: white;
}

.web {
    margin: 0px auto;
    width: 800x;
    height: auto;
    position: absolute;
    border-right: 3px solid #003300;
    border-left: 3px solid #003300;
}


.imagen img {
    margin: 0px;
    width: 800px;
}

.menu {
    position: absolute;
    top: 400px;
    width: 800px;
    color: white;
    height: 25px;
    background-image: url("../img/barranav.jpg");
    background-size: 800px;
}


.menu li {

    font-size: 15px;
    list-style: none;
    float: left;
    width: auto;
    padding: 10px;
}

.cuerpo {
    width: 800px;
    height: auto;
    position: relative;


}

.cuerpo .trans {
    position: absolute;
    top: 250px;
    right: 0px;
    z-index: -10;
    background-image: url("../img/decora_trans.jpg");
    background-repeat: no-repeat;
}

.cuerpo .right {
    float: right;
    width: 570px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cuerpo .left {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 20px;

}

.cuerpo .left .rotulo {
    background-image: url("../img/titlat3.jpg");
    width: 180px;
    height: 25px;
    color: white;
    padding: 10px;
    margin-top: 10px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
}

.cuerpo .left .form {
    background-color: #ffff99;
    width: 180px;
    height: auto;
    padding: 10px;
    font-size: 12px;
    font-family: Futura, 'Trebuchet MS', Arial, sans-serif;

}

.cuerpo .left .form .textarea {
    width: 50%;
}

.cuerpo .left .form .go {
    vertical-align: middle;
}

.form ul {
    padding-left: 20px;
    margin: 10px;
    list-style-type: square;
}

a {
    color: blue;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color:#003300;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
    color:#003300;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    line-height: 15px;
}

