@charset "utf-8";
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #444;
    margin: 0;
    font-family: monospace;
}

h1 {
    color: #fff;
    text-align: center;
}





/*Estilos de la galeria*/

.menu {
    width: 700px;
    margin: 10px auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
}

.menu li {
    width: 120px;
    padding: 10px;
    list-style: none;
    font-size: 15px;
    background-color: white;
    color: grey;
    margin: 5px;
    float: left;
}

.menu a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    background-color: grey;
    color: white;
}

.menu a:hover {

    background-color: yellow;
}


/*Estilos del modal*/

.modal {
    display: none;
}

.modal:target {
    display: block;
    position: fixed;
    background: #444;
    top: 30%;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 15px 0;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px 0;
}

.texto {
    width: 600px;
    margin: 20px auto;
    top: 20%;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: 15px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}