html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #444;
    margin: 0;
    font-family: monospace;
}

.container {
    width: 900px;
    margin: 1px auto;
    background-color: grey;
}

.container h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px;
}

.tabla {
    display: table;
    width: 600px;
    margin: 50px auto;
    list-style: none;
    box-sizing: border-box;
    border-collapse: collapse;
}

.fila {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.celda {
    width: 300px;
    height: 300px;
    vertical-align: middle;
}

.celda p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
}

.celda .uno a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 50px;
    background-image: url("../img/madera.jpg");
    box-shadow: 30px -33px 6px -5px rgba(26,212,32,0.5);
}

.celda .uno a:hover {
    box-shadow: 30px -33px 6px -5px rgba(26,212,32,0);
}


.celda .dos a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    background-image: url("../img/piedra.jpg");
    border-radius: 30px;
    box-shadow: -35px 33px 6px -5px rgba(16,52,230,0.4);

}

.celda .dos a:hover {
    box-shadow: -35px 33px 6px -5px rgba(16,52,230,0);
}
