html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #444;
    margin: 0;
    font-family: monospace;
}

.container {
    width: 900px;
    margin: 1px auto;
    background-color: grey;
}

.container h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px;
}

.tabla {
    display: table;
    width: 600px;
    margin: 50px auto;
    list-style: none;
    box-sizing: border-box;
    border-collapse: collapse;
}

.fila {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.celda {
    width: 300px;
    height: 300px;
    vertical-align: middle;
}

.celda p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
}

.celda .uno a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, white , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , blue); /* Standard syntax (must be last) */

}




.celda .dos a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, white , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , blue); /* Standard syntax (must be last) */

}



.celda .tres a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
        background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, white , blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, white, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, white, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, white , blue); /* Standard syntax (must be last) */

}



.celda .cuatro a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    height: 200px;
    background: blue; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, blue , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, blue, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, blue, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, blue , white); /* Standard syntax (must be last) */
}
