html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #444;
    margin: 0;
    font-family: monospace;
}

.container {
    width: 900px;
    margin: 1px auto;
    background-color: grey;
}

.container h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px;
}

.tabla {
    display: table;
    width: 600px;
    margin: 50px auto;
    list-style: none;
    box-sizing: border-box;
    border-collapse: collapse;
}

.fila {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.celda {
    width: 300px;
    height: 300px;
    vertical-align: middle;
}

.celda p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
}

.celda .uno a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    background-image: url("../img/madera.jpg");
    box-shadow: 20px -20px 20px green,  -20px 20px 20px red;
}

.celda .uno a:hover {

    box-shadow: 20px -20px 20px red,  -20px 20px 20px green;
}



.celda .dos a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    background-image: url("../img/piedra.jpg");
    border-radius: 10px;
    background-color: yellow;
    box-shadow: -20px -20px 20px green,  20px 20px 20px red;

}

.celda .dos a:hover {

    box-shadow:  20px -20px 20px green,  -20px 20px 20px red;
}
