html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #444;
    margin: 0;
    font-family: monospace;
}

.container {
    width: 900px;
    margin: 1px auto;
    background-color: grey;
}

.container h1 {
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 20px;
}

.tabla {
    display: table;
    width: 600px;
    margin: 50px auto;
    list-style: none;
    box-sizing: border-box;
    border-collapse: collapse;
}

.fila {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.celda {
    width: 300px;
    height: 300px;
    vertical-align: middle;
}

.celda p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    color: white;
}

.celda .uno a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: -20px 20px 20px blue;
}

.celda .uno a:hover {

    background-color: yellow;
    box-shadow: -20px 20px -20px black;
}



.celda .dos a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: -20px 20px 20px blue;
}

.celda .dos a:hover {

    background-color: orange;
    box-shadow: -20px -20px 20px brown;
}



.celda .tres a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    background-color: green;
    box-shadow: -20px -20px 20px yellow;
}

.celda .tres a:hover {

    background-color: red;
    box-shadow: 20px 20px -20px grey;
}


.celda .cuatro a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    width: 240px;
    height: 180px;
    margin: 30px;
    border-radius: 10px;
    background-color: purple;
    box-shadow: 20px 20px 20px 10px black;
}

.celda .cuatro a:hover {

    background-color: yellow;
    box-shadow: 20px 20px -20px purple;
}