html,body {
	width: 100%;
	height: 100%;
}

#top {
	background-color: #262626;
	width: 100%;
	height: 25%;
	z-index: -20;

}
#down {
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	width: 100%;
	height: 75%;
	position: relative;
}
.wrapper {
	z-index: 10;
	width: 1000px;
	margin: 0px auto;
	position: relative;
	top: -150px;
	height: 200px;
}
.logo h1 {
	font-size: 30px;
	color: white;
	font-weight: bold;
}
.logo p {
	font-size: 12px;
	color: white;
}
.menu {
	margin-top: 50px;
	background-image: url('../images/menu-corners.gif');
	background-repeat: repeat-y;
	width: 800px;
	position: relative;
	z-index: 100;
}
.menu li a{
	float: left;
	display: block;
	text-decoration: none;
	background-image: url('../images/menu-corners.gif');
	background-repeat: repeat;
	height: 86px;
	width: 120px;
	text-align: center;
	color: white;
	padding: 10px;
	font-size: 14px;

}
.body {
	position: relative;
	top:50px;
	z-index: 100;
	background-color: white;
	width: 979px;
	height: 650px;
	border-radius: 10px;
	-webkit-box-shadow: -1px 16px 9px 12px rgba(0,0,0,0.51);
	-moz-box-shadow: -1px 16px 9px 12px rgba(0,0,0,0.51);
	box-shadow: -1px 16px 9px 12px rgba(0,0,0,0.51);
}

.body .imagen img {
	position: relative;
	width: 98%;
	margin-left: 10px;
	top: -80px;
}

.body .box {
	position: relative;
	width: 100;
	top: -60px;
}
.body .box .left {
	float: left;
	margin-left: 20px;
	width: 300px;
}
.body .box .left h2{
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
}

.body .box .left img{
padding: 10px;
border: thin solid black;
margin-bottom: 10px;
}

.body .box .left p{
padding: 10px;
font-size: 12px;
font-style: italic;
margin-bottom: 10px;
line-height: 20px;
}

.body .box .left a{

padding: 10px;
font-size: 12px;
font-weight: bold;
margin-bottom: 10px;
line-height: 20px;
}

.footer {
	position: relative;
	top: 80px;
	clear: left;
	float: right;
	margin-right: 30px;

}

.footer a {
	text-decoration: none;
	color:  #b30000;

}