div {
    /*margin: 10px;*/
    border: 2px solid black;
    height: 60px;
    /*width: 100%;*/
}

.menu {
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: none;
    border-right: 2px solid black;
    padding: 5px;
}

.body {
    height: 200px;
}

.rightBody {
    float: right;
    width: 50%;
    height: 200px;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.height {
    height: 300px;
}

.footer {
    border-left: 2px solid black;
    border-top: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

#image {
    margin: 10px;
    width: 42px;
    height: 40px;
}

span {
    background-color: grey;
    color: grey;
}

p {
    margin: 20px 0 0 30px;
}

#vinculo {
    font-size: 10;
    color: black;
    text-decoration: none
}

#vinculo:hover {
    font-size: 10;
    color: green;
    text-decoration: none
}

.color {
    background-color: Gainsboro;
}

.barra {
    padding: 10px;
}
li {

    font-size: 14px;
    list-style: none;
    float: left;
    margin: 0px auto;
    /*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/
    width: 30px;

}

a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*Truco para alineación vertical para lineas*/
    line-height: 30px;
    background-color: grey;
    color: white;
}

a:hover {

    background-color: black;
}