div {
	/*margin: 10px;*/
    border: 2px solid black;
    height: 60px;
    /*width: 100%;*/
}

.menu {
	border-left:2px solid black;
	border-top: 2px solid black;
    border-bottom: none;
    border-right: 2px solid black;}

.body {
    height: 600px;
}

.boton {
    margin: 20px auto;
}
.boton li {
    font-size: 18px;
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.rightBody {
    float: right;
    width: 70%;
    height: 600px;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.footer {
	border-left:2px solid black;
	border-top: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

span {
    background-color: grey;
    color: grey;
}

p {
	margin: 20px 0 0 30px;
}

#vinculo {
    font-size: 10;
    color:black;
    text-decoration: none
}

#vinculo:hover {
    font-size: 10;
    color: green;
    text-decoration: none
}

#texto {
	width: 300px;
	background-color: pink;
	margin: 30px;
	color: black;
	font-weight: bold;
	padding: 5px;
	border-top: thin solid black;
}

.color {
	background-color: Gainsboro;
}