div {
	/*margin: 10px;*/
    border: 2px solid black;
    height: 60px;
    width: 100%;
}

.menu {
	border-left:2px solid black;
	border-top: 2px solid black;
    border-bottom: none;
    border-right: 2px solid black;}

.right {
    float: right;
    width: 50%;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.body {
    height: 600px;
}
.boton {
    margin: 10px auto;
}
.boton li {
    font-size: 18px;
    list-style: none;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.rightBody {
    float: right;
    width: 70%;
    height: 600px;
    border-left: 2px solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
}

.footer {
	border-left:2px solid black;
	border-top: none;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

p {
    padding: 40px;
}

#vinculo {
    font-size: 10;
    color:black;
    text-decoration: none
}

#vinculo:hover {
    font-size: 10;
    color: green;
    text-decoration: none
}