* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1080px;
}

.nav {
    width: 100%;
    height: 180px;
    margin: 20px;
    border-bottom: thin solid black;
    padding-bottom: 5px;
}

.left {
    float: left;
    width: 250px;
    border: thin solid black;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 180px;
}

.left li {
    font-size: 14px;
    list-style: none;
    width: 90px;
    margin-top: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: grey;
    color: white;

}

.left li:hover {
    font-size: 14px;
    list-style: none;
    width: 90px;
    margin-top: 10px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;

}


.center {
    float: left;
    height: 180px;
    width: 20px;
}

.center ul {
    padding-top: 60px;
    width: 100%;
}

.center li {

    list-style: none;
    text-align: center;
    vertical-align: middle;
}

.right {
    float: left;
    border: thin solid black;
    border-top: none;
    border-bottom: none;
    border-right: none;
    height: 180px;
    width: 700px;
}


.body,
.footer {
    width: 100%;
    margin: 20px;
}

fieldset {
    height: 250px;
}

.table,
.form {
    float: left;
    width: 50%;
}

table,
form {

    width: 250px;
    margin: 25px 40px;

}

input {
    margin: 10px;
    padding-top: 10px;
}

th,
td {
    text-align: left;
    padding: 8px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    height: 120px;
}






img {
    width: 160px;
    height: 160px;
    padding: 5px;
    margin-left: 50px;
}


.footer li {

    font-size: 14px;
    list-style: none;
    float: left;
    margin: 20px auto;
    /*Con esto centramos el elemento, siempre contando que el elemento tenga un width*/
    width: 25%;
    color: white;
    background-color: grey;
    margin-top: 10px;
}

.footer a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
    height: 30px;
    /*Truco para alineación vertical para lineas*/
    line-height: 30px;
    background-color: grey;
    color: white;

}

.footer a:hover {

    background-color: #4CAF50;
    cursor: pointer;
}