table.menu a {
    border: 1px solid #000;
    display: block;
    background-color: #D0E0ED;
    font-family: Tahoma, verdana, sans-serif;
}

div.menu a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    padding: 3px 6px;
    font-family: Tahoma, verdana, sans-serif;
    background-color: #BAD1E4;
}
div.menu {position:absolute;top:0; left:0;} /*fixes IE slowness?? */
div.menu a:link {
    color: #000;
    text-decoration: none;
    background: #BAD1E4;
}
div.menu a:active {
    color: #000;
    text-decoration: none;
    background: #BAD1E4;
}
div.menu a:visited {
    color: #000;
    text-decoration: none;
    background: #BAD1E4;
}
div.menu a:hover {
    color: #FFF;
    text-decoration: none;
    background: #FE7400;
    border: 1px solid #000000;
}
menu.activo tr td a {
    border: 2px solid #000;
    display: block;
    background-color: #FE7400;
    text-decoration: none;
    border: 2px solid #000000;
    background: #FE7400;
}