p {
	color: #00F;
	background-color: #CFC;
	font-family: Georgia, Cambria, Serif;
	font-size: 16px;
}

h1 {
	color: #F00;
	font-family: Verdana, Calibri, sans-serif;
	font-size: 32px;
}

h2 {
	color: #A00;
	font-family: Verdana, Calibri, sans-serif;
	font-size: 24px;
}

.datos {
	color: #060;
}

.sustantivos {
	font-size: 20px;
	font-weight: bold;
}

.acronimos {
	color: #FFF;
	background-color: #000;
	font-weight: inherit;
}