
/* 
esto es un selector de clase
*/
.regla1{
	font-size: 10px;
	color:rgba(200,200,200,0.9);
	border:thin solid black;
}

/*
Esto es un selector por id
*/
#regla2{
	display:block;
}

/*
Esto es un selector por etiqueta 
*/
div{
	display: inline;
}