
<head> <title>Portal web - aprenderaprogramar.com</title> <meta charset="utf-8">
<style type="text/css">
*{margin:0; padding:0; font-family: sans-serif;}
div{ border: 5px solid; height: 60px; width: 260px; margin:10px; background-color:yellow;
font-size: 20px; text-align:center; padding-top: 20px; word-wrap:break-word; }
h2{margin: 15px 0 -15px 40px;}
</style>
</head>
<body>
<h2>CSS border-radius aprenderaprogramar.com</h2>
<div style="float:left; border-style:none; border-width:0; background-color:white;">
<div style="border-radius: 5px;">border-radius: 5px;</div>
<div style="border-radius: 10px;">border-radius: 10px; </div>
<div style="border-radius: 20px;">border-radius: 20px; </div>
<div style="border-radius: 40px;">border-radius: 40px; </div>
<div style="border-radius: 60px;">border-radius: 60px; </div>
<div style="border: double #A52A2A 8px; border-radius: 13em/3em;">border-radius: 13em/3em; </div>
</div>

<div style="float:left; border-style:none; border-width:0; background-color:white;">
<div style="border-top-left-radius: 40%;">border-top-left-radius: 40%; </div>
<div style="border-radius: 80px 20px;">border-radius: 80px 20px; </div>
<div style="border-radius: 60px 20px 5px;">border-radius: 60px 20px 5px; </div>
<div style="border-radius: 60px 20px 5px 90px;">border-radius: 60px 20px 5px 90px; </div>
<div style="border-radius: 60px/20px;">border-radius: 60px/20px; </div>
<div style="border: solid #A52A2A 5px; border-radius: 50%;">border-radius: 50%; </div>
</div>
</body>
</html>