#body {
    background-image: url("../img/fondo.gif");
    background-repeat: repeat;
}

.container {
    margin: 20px auto;
    width: 1080px;
    height: auto;
}

.web {
    margin: 20px auto;
    width: 900px;
    background: white;
    height: 770px;
    outline: thin solid black;
}

.imagen img {
    width: 900px;
    height: auto;
}

.menu {
    width: 900px;
    height: 35px;
    background-image: url("../img/fondonav.gif");
    background-repeat: repeat;
    outline: thin solid black;
}

.menu li {

    font-size: 15px;
    list-style: none;
    float: left;
    width: auto;
    padding: 10px;
}

.cuerpo {
    width: 900px;
    height: auto;

}

.cuerpo .left {
    float: left;
    width: 610px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;

}

.cuerpo .left h1 {
    font-size: 22px;
}

.cuerpo .left p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 18px;
}

.cuerpo .right {
    float: left;
    width: 250px;
    height: auto;
    background-color: #ccc;
    outline: thin solid black;
}

.cuerpo .right .rotulo {
    background-color: black;
}

.cuerpo .right .rotulo p {
    padding: 10px;
    font-size: 20px;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    color: white;
    text-transform: uppercase;
}

.form {
    padding: 10px;
    font-size: 18px;
}

.form ul {
	padding: 10px;
    margin: 5px;
    list-style-image: url("../img/bullet.jpg");
}

.form li {
	padding: 10px;
}

.textarea {
    margin: 5px;
}


.select {
    margin: 5px;
}

.pie {
    clear: left;
    padding: 10px;
}

.pie li {

    font-size: 10px;
    color: green;
    font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    list-style: none;
    float: left;
    width: auto;


}