@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One');

body {
  font-family: 'Alfa Slab One', cursive;
}

.p {
    font-weight: bold;
    font-size: 60%;
    color: white;
    text-transform: uppercase;
    text-align: right;
}

h1 {
    font-weight: bold;
    font-size: 100%;
    color: white;
    text-transform: uppercase;
}

h2 {
    font-weight: bold;
    font-size: 100%;
    color: white;
    text-transform: uppercase;
    color: #5c5c3d;
}

.container {
    width: 900px;
    background-color: #5c5c3d;
    margin: 0 auto;
    position: relative;

}

.membrete {
    background-color: #b8b894;
    width: 800px;
    margin: 10px auto;
    height: 60px;
    border: 4px solid #5c5c3d;
    position: relative;
    top: 30px;
    z-index: 1000;
}

.membrete .left {
    padding: 15px 15px 25px 30px;
    float: left;
    width: 500px;
}

.membrete .right {
    float: right;
    width: 200px;
    padding: 20px;
}

.body {
    background-color: #b8b894;
    width: 900px;
    margin: 10px auto;
    height: 695px;
    }

.body .izquierda {
    width: 180px;
    height: 640px;
    float: left;
    text-align: center;
    padding-top: 50px;
    outline: 5px solid #5c5c3d;
    margin-left: 5px;
    }

.body .izquierda .botones ul {
    margin-top: 40px;
    }

.body .izquierda .botones li {
    margin: 10px auto;
    width: 70%;
    height: 25px;
    color: white;
    background-color: #5c5c3d;
    text-align: left;
    font-size: 10px;
    padding-top: 15px;
    padding-left: 30px;
    text-transform: uppercase;
    border-left: 15px solid white;
    display:inline-block;
    vertical-align:middle;
    }   

.centro {
    width: 550px;
    height: 695px;
    float: left;
    text-align: center;
    border-right: 5px solid #5c5c3d;

}
.centro ul {
    width: 600px;
    margin-top: 30px;
    margin-left: 20px;
}

.centro li {

    font-size: 11px;
    color: white;
    list-style: none;
    float: left;
    width: auto;
    padding: 10px;
    background-color: #5c5c3d;
}
.centro .cuerpo {
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    padding-top: 200px;
}

.derecha {
    float: left;
    width: 155px;
    height: 690px;
    border-right: 5px solid #5c5c3d;
    border-bottom: 5px solid #5c5c3d;
    text-align: center;
    display:inline-block;
    vertical-align:middle;
    line-height:normal;
    padding-top: 200px;
}