@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}

html,body{
	width:100%;
	height:100%;
}

body {
  background:whitesmoke;
  margin: 0;
}

/*Estilos de la galeria*/

.tabla {
  display: table;
  width: 900px;
  margin: 20px auto;  list-style: none;
  box-sizing: border-box;
  border-collapse: collapse;
}

.fila {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

.celda {
  width: 220px;
  border: thin solid white;
  padding: 15px;
  margin: 10px;
  height: 220px;
  vertical-align:middle;
}

.celda img{
  width: 220px;
  height: 220px;
}


/*Estilos del modal*/

.modal {
  display: none;
}

.modal:target {
  display: table;
  position: fixed;
  background:whitesmoke;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imagen {
  width: 100%;
  display:table-row;
}

.imagen img {
  max-width:300%;
  border: 3px solid #fff;
  box-sizing: border-box;
  float: center;
}

.imagen a {
  color: #fff;
  font-size: 40px;
  text-decoration: none;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width:5%;
}

.imagen a:nth-child(2) {
  margin: 0;
  width:60%;
}

h3 {
  color: #fff;
  font-size: 30px;
  display:table-cell;
  text-align: center;
  vertical-align: middle;

}

.modal>div:first-of-type{
	display:table-row;
}

.modal>div:last-of-type{
	display:table-row;
}

.modal>div:last-of-type>div{
	display:table-cell;
}

.modal>div:first-of-type>div{
	display:table-cell;
}

.cerrar {
  display: block;
  background: #fff;
  width: 25px;
  height: 25px;
  margin: 15px auto;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 5px;
  border-radius: 50%;
  line-height: 25px;
}


