*{
	margin:0px;
	padding: 0px;
}
body {
    background: black;
    color: white;

}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 15px;
  margin: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

ul>li>a{
	display: block;
	width: 100px;
	height: 30px;
	background-color: green;
	color: red;
	
}
li {
	float: left;
	list-style:none;
}

#horizontal{
	display: none;
	width: 100%;
}
#vertical {
	display: block;
}

.contenido {
	clear: both;
	margin: 10px auto;
	width: 80%;
}

@media (max-width: 700px) {
    body {
        background: blue;
        color: whitesmoke;
    }
	#vertical{
	display: none;

	}
	#horizontal{

	display: block;
	}
	li{
		clear: both;

	}
}