@charset "utf-8";
*{
	margin:0px;
	padding:0px;
	background-color:rgba(0,0,0,1);
}

div{
	width:1000px;
	height:500px;
	margin:25px auto;
	background-color:rgba(0,0,0,1);
}

ul{
	width:1000px;
	margin:10px auto;
}

li{
	list-style:none;
	width:980px;

}

li>a{
	display: block;
	border-top:5px solid white;
	margin-top: 10px;
	margin-left: 10px;
	display:block;
	width:220px;
	height:50px;
	line-height:50px;
	background-color:rgba(0,0,0,1);
	color:white;
	text-align:center;
	float: left;
	text-decoration: none;
}

li>a:hover{
	border-top:1px solid white;
}

li:hover{
	background-color:rgba(204,204,204,1);
}

li:active{
	background-color:rgba(102,51,0,1);
}

#horizontal{
	display: none;
	width: 100%;
}
#vertical {
	display: block;
}


@media (max-width: 640px) {
    body {
        background-color:rgba(0,0,0,1);
        color: whitesmoke;
    }
	#vertical{
	display: none;

	}
	#horizontal{

	display: block;
	}
	li{
		clear: both;

	}
}