.tabla{
	display:table;
	margin:10px auto;
	border-spacing:5px 20px;
	border:5px solid red;
	border-collapse: separate;
}

.fila{
	display:table-row;
	/* border:5px solid blue; no puedo colocar borde a las filas directamente */
}

.celdas{
	border:5px solid blue;
	display:table-cell;
	width:200px;
	height:50px;
	background-color: #ccc;
	/* border-spacing: 20px; la sepacion de celdas en la tabla */
}