.tabla{
    display:table;
    margin:10px auto;
}

/* accediendo a las filas */
.tabla>div{
    display:table-row;
}

/* accediendo a las celdas */
.tabla>div>div{
    display:table-cell;
    background-color: #ccc;
    text-align: center;
    vertical-align: middle;
}

img{
    width:100px;
}

.uno{
    width:400px;
}

.dos{
    width:200px;
}

.tres{
    width:300px;
}

.fila1{
    height: 300px;
}

.fila2{
    height: 200px;
}

.flotar{
    float: left;
    width:100px;
    background-color: blue;
    height:50px;
}

.tres>div{
    width:200px;
    margin:0px auto;
}

.tabla>div>div:hover{
    outline:10px solid black;
}
