img{
	width:300px;
	display:block;
	margin:0px auto;
}

html,body{
	width:100%;
	height:100%;
}

body{
	background-color: #ccc;
}

html{
	display:table;
}

body{
	display: table-row;
}

div{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
