/* le indicamos que vamos a meter filas*/
.tabla {
	display: table; 
	margin: 10px auto;
	/*border-spacing solo en tabla para que sea homogéneo*/
	border-spacing: 5px 20px;
	border-collapse: collapse;
	/*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila {
	display: table-row;
	/*border: thin solid blue; no se puede directamente*/
}


.celda {
	border: thin solid blue;
	display: table-cell;
	width: 900px;
	height: 50px;
	background-color: #eeeeee;

}

.noborder {
	border: 0px;
}

.noborderUp {
	border-top: 0px;
}

.noborderDown {
	border-bottom: 0px;
}

.encabezado, .pie {
	height: 100px;
}

.cuerpo {

	height: 700px;
}

.cuerpoEncabezado, .cuerpoPie {

	height: 100px;
}

.tabla1 {
	display: table; 
	border-collapse: separata;
	/*si colapsacmos el border, border-spacing queda inutilizado*/
	border-spacing: 5px 20px;
	border-collapse: collapse;
}

.fila1 {
	display: table-row;
	/*border: thin solid blue; no se puede directamente*/
}


.celda1 {
	border: thin solid blue;
	display: table-cell;
	width: 450px;
	height: 700px;
}

.tabla2 {
	display: table; 
	border-collapse: separata;
	/*si colapsacmos el border, border-spacing queda inutilizado*/
	border-spacing: 5px 20px;
	border-collapse: collapse;
}

.fila2 {
	display: table-row;
	/*border: thin solid blue; no se puede directamente*/
}


.celda2 {
	border: thin solid blue;
	display: table-cell;
	width: 450px;
	height: 100px;
}

.celda3 {
	border: thin solid blue;
	display: table-cell;
	width: 900px;
	height: 700px;
}

.celdaPie {
	width: 900px;
}

