body, html {
	background-color: grey;
}
.contenedor {
	width: 980px;
	height: 1374px;
	margin: 20px auto;
	background-color: white;

}
.cabecera {
	width: 646px;
	height: 75px;
	margin: 20px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 30px;
}
.fotos{
	width: 980px;
	height: 300px;
	margin: 0px auto
}

.fotos .col1,.col2,.col3, .col4 {
	float: left;
	width: 240px;
	height: 250px;
	margin: 20px auto;
	text-align: center;
}



.fotos img {
	width: 60px;
}

.fotos p {
	font-size: 15px;
		padding: 20px;

}