body,html {
	 width: 100%;
	 height: 100%;
	 background: black;
}
.menu {
	width: 800px;
	margin: 20px auto;
	height: 40px;
	text-align: center;
}

.menu li{
	padding: 10px;
	float: left;
	width: 150px;
	height: 50px;
	margin-right: 5px;
	border: 5px;
	border-top: 5px solid white;
	
	
}

.menu a{
		display: block;
	text-decoration: none;
	color: white;
}

.menu li:hover {
	margin-top: 3px;
	display: block;
	text-decoration: none;
	border-top: 2px solid white;
	font-weight: bold;
}