body,html {
	 width: 100%;
	 height: 100%;
	 background: grey;
}
.galeria {
	width: 900px;
	margin: 20px auto;
	height: 800px;
	text-align: center;
}

.imagen {
	float: left;
	padding: 10px;
	background-color: white;
	border: thin solid black;
	margin-top: 50px;
	margin-left: 50px;
}