html,body {
	width: 100%;
	height: 100%;
	background-color: white;
}

.wrapper {
	width: 1000px;
	margin: 20px auto;
	height: 800px;
	background-image: url("../img/fondo.png");
	background-repeat: repeat;
	padding: 40px 0 0 40px;
	font-family: Baskerville, 'Baskerville old face', 'Hoefler Text', Garamond,  'Times New Roman', serif;
	position: relative;
}
.one {
	width: 960px;
	height: 84px;
}
.logo {
	float: left;
	width:75%;

}
.nosotros img{
	width: 10%;
	position: relative;
	top: 25px;
	left: -40px;
}

.instalaciones img{
	width: 10%;
	position: relative;
	top: 0px;
	left: 0px;
}


.logo img {
	width:25%;
}

.direccion {
	float: left;
	width: 200px;
	color: #cc5200;
	font-size: 12px;
	text-align: right;
}

.nav {
	clear: left;
	width: 990px;
	height: 50px;
	text-align: left;
	font-size: 20px;
	color:  #cc5200;
	margin-bottom: 30px;
	position: relative;

	
}

.servicios, .redes{
	padding: 10px;
	float: left;
	width: 220px;
	text-align: center;
	border-bottom: 2px solid #cc5200;
}


.nosotros, .instalaciones,
.contacto {
	padding: 10px;
	float: left;
	width: 100px;
	border-bottom: 2px solid #cc5200;
}

.piel {
	padding: 10px;
	float: left;
	width: 80px;
	border-bottom: 2px solid #cc5200;

}

.piel {
	width: 90px;
}
.redes img {
	width: 20px;
	margin-right: 5px;
}

.menu {
	margin-top: 40px;

}

.imagen img {
	width: 98%;
}

.menu img{
	width: 9px;
	margin-right: 10px;
}
.footer .menu li{
	list-style: none;
	color: #cc5200;
	margin-top: 20px;

	list-style: none;
	color: #cc5200;
	margin-top: 10px;
}
.logo_footer img{
	width: 400px;
	position: relative;
	left: 590px;
	bottom: 140px;
}