/* le indicamos que vamos a meter filas*/
.tabla {
    display: table;
    margin: 10px auto;
    border-collapse: collapse;
    /*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila1, .fila2 {
    display: table-row;
    /*border: thin solid blue; no se puede directamente*/
}

.fila1 {
    height: 300px;
}

.fila2 {
    height: 200px;
}

.columna1 {
    width: 400px;
}

.columna2 {
    width: 200px;
}

.columna3 {
    width: 300px;
}

.celda {
    display: table-cell;
    width: 200px;
    height: 50px;
    background-color: #eeeeee;
    padding:10px;

}

.caja {
    width: 50px;
    height: 50px;
    float: left;
    background-color: white;
    border: thin solid black;
}

.margin {
    margin-left: 20px;
}

.celda:hover {
    /*el outline no mueve los objetos que están por dentro del bordeado*/
    outline: thin solid red;


}

img {
    padding: 10px;
}

h1 {
    text-align: center;
    color: blue;
    font-style: Arial;
    font-size: 25px;

}