/* le indicamos que vamos a meter filas*/
.encabezado {
	display: table; 
	margin: 10px auto 0 auto;
	/*border-spacing solo en tabla para que sea homogéneo*/
	border-spacing: 5px 20px;
	/*border: thin solid red;*/
	border-collapse: collapse;
	/*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila_encabezado {
	display: table-row;
	height: 25px;
	/*border: thin solid blue; no se puede directamente*/
}

.celda_encabezado {
	/*border: thin solid blue;*/
	display: table-cell;
	width: 100px;
	background-image: url("../img/background.png");
	background-size: contain;background-position: center;

}

/* le indicamos que vamos a meter filas*/
.cuerpo {

	display: table; 
	margin: 0 auto;
	/*border-spacing solo en tabla para que sea homogéneo*/
	border-spacing: 5px 20px;
	/*border: thin solid red;*/
	border-collapse: collapse;
	/*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila {
	display: table-row;
	height: 15px;
	/*border: thin solid blue; no se puede directamente*/
}

.celda {
	/*border: thin solid blue;*/
	display: table-cell;
	width: 100px;

	background-color: grey;

}