/* le indicamos que vamos a meter filas*/

.tabla {
    display: table;
    margin: 10px auto;
    /*border-spacing solo en tabla para que sea homogéneo*/
    border-spacing: 5px 20px;
    border-collapse: collapse;
    text-align: center;
    /*si colapsacmos el border, border-spacing queda inutilizado*/
}

.fila {
    display: table-row;
    height: 50px;
    margin-top: 10px;
    /*border: thin solid blue; no se puede directamente*/
}
.encabezado {
    display: table-row;
    height: 50px;
    border-bottom: thin solid black;
    /*border: thin solid blue; no se puede directamente*/
}

.celdaSelector {
    display: table-cell;
    width: 100px;
    height: 50px;
    background-color: #eeeeee;
    border-right: thin solid black;
}

.celdaHtml {
    display: table-cell;
    width: 300px;
    height: 50px;
    background-color: #eeeeee;
    line-height: 40px;
}

a {
    display: block;
    /*Con este conseguimos que sea de ancho como el padre*/
    text-decoration: none;
    text-align: center;
}

a:hover {

    background-color: yellow;
}

#info{
	display:none;
}

.fila:hover>.celdaHtml>#info{
	display:block;
}

#info{
	display:none;
}

#main{
	display:none;
}

.fila:hover>.celdaHtml>#info{
	display:block;
}

.fila:hover>.celdaHtml>#main{
	display:block;
}

.infor{
	display:none;
}

.main{
	display:none;
}

.fila:hover>.celdaHtml>.infor{
	display:block;
}

.fila:hover>.celdaHtml>.main{
	display:block;
}

.redondeado {
	border-radius: 10px;
	background-color: pink;

}